.post {
    width: 50%;
    margin:10px auto 5px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post_top {
    position: relative;
    align-items: center;
    padding: 15px;
}
.post_topInfo > h3 {
    font-size: medium;
    color: #000000;
}
.post_topInfo > p {
    font-size: small;
    color: #000000;
}
.post_bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 25px;
    color: #020000;
}

.post__options {
    padding-top: 0;
    border-top: 1px solid #b0b0b0;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: #000000;
    cursor: pointer;
}

.post_option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    flex: 1;
}

.post_option:hover {
    background-color: #c0c0c0;
    border-radius: 100x;
}
.post_option > p {
    margin-left: 10px;
}
